---
import ArticleCard from "../components/ArticleCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <h1 class="text-4xl">Software engineer and amatuer writer</h1>
    <p class="mt-2 font-light font-sm">
        Maker of things that work. <br /> I solve tricky problems with clean, practical
        solutions that grow with your needs.
    </p>

    <section class="mt-10">
        <h2 class="text-2xl font-semibold">Latest</h2>

        <div class="grid grid-cols-4 gap-4">
            <ArticleCard />
        </div>
    </section>
</Layout>
