<article class="relative group overflow-hidden">
    <img
        src="https://placehold.co/350x350"
        alt="Article 1"
        class="w-full h-auto transition-transform duration-300 group-hover:scale-105"
    />
    <div
        class="absolute inset-0 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-500 flex items-end"
    >
        <h3 class="text-white px-4 py-3 w-full font-medium">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h3>
    </div>
    <a href="#" class="absolute inset-0"></a>
</article>
