---
import { Image } from "astro:assets";

interface Props {
    title: string;
    description?: string;
    image: string;
    imageAlt: string;
    url: string;
}

const { title, description, image, imageAlt, url } = Astro.props;
---

<article class="relative group overflow-hidden">
    <Image
        width={350}
        height={350}
        src={image}
        alt={imageAlt}
        loading="eager"
        class="w-full h-auto aspect-square object-cover transition-transform duration-300 group-hover:scale-105"
    />
    <div class="px-4 py-3  absolute inset-0 bg-black opacity-0 group-hover:opacity-90 transition-opacity duration-500 flex flex-col justify-between">
        <h3 class="text-white w-full font-medium">
            {title}
        </h3>
        <div class="flex justify-between text-sm">
            <span>3 min read</span>

            <span>2 days ago</span>
        </div>
    </div>
    <a href={url} aria-label="Read full story" class="absolute inset-0"></a>
</article>
