---
import { formatRelativeDate } from "../utils/dateUtils";
import { getReadingTime } from "../utils/textUtils";

interface Props {
    title: string;
    url: string;
    publishDate?: string;
    content?: string;
}

const { title, url, publishDate, content } = Astro.props;
const relativeDate = publishDate ? formatRelativeDate(publishDate) : '';
const readingTime = content ? getReadingTime(content) : '3 min read'; // Default fallback
---

<article class="group relative py-3  dark:bg-black transition-all flex flex-col justify-between">
    <div class="flex flex-col justify-between gap-5 h-full">
        <h3 class="w-full font-medium text-lg group-hover:underline">
            {title}
        </h3>
        <div class="flex flex-col text-sm">
            <span>{readingTime}</span>
            <span>{relativeDate}</span>
        </div>
    </div>
    <a href={url} aria-label={`Read full story on ` + title} class="absolute inset-0"></a>
</article>
