---
import { ArrowUpRight } from "@lucide/astro";
---
<footer>
	<div class="flex flex-col">
		<h2 class="uppercase pt-5">Links</h2>
		<div class="flex flex-col gap-10 pb-10 pt-3 lg:flex-row lg:justify-between lg:items-start lg:pb-20">
			<div class="flex gap-2">
				<a href="mailto:dosmokrovic@yahoo.com"
				   class="flex items-center gap-1"
				   aria-label="Send me an email">
					Email
					<ArrowUpRight class="size-4" />
				</a>

				<a href="https://www.linkedin.com/in/dusanosmokrovic/"
				   target="_blank"
				   class="flex items-center gap-1"
				   aria-label="Visit my LinkedIn profile">
					Linkedin
					<ArrowUpRight class="size-4" />
				</a>

				<a href="https://github.com/d855"
				   target="_blank"
				   class="flex items-center gap-1"
				   aria-label="Visit my GitHub profile">
					GitHub
					<ArrowUpRight class="size-4" />
				</a>
			</div>
			<div class="flex flex-col items-start text-neutral-400">
				<span id="time" class="time text-7xl uppercase"></span> <span>Belgrade, Serbia</span>
			</div>
		</div>

		<div class="text-neutral-600 dark:text-neutral-300 flex justify-between items-end text-sm  border-t border-neutral-300 dark:border-neutral-700 pt-3 pb-5 lg:pb-20">
			<p>&copy; Created by Dušan Osmokrović in {new Date().getFullYear()}</p>
		</div>
	</div>
</footer>

<script>
    function getTime() {
        const now = new Date();

        const timeElement = document.getElementById("time");
        if (timeElement) {
            timeElement.textContent = now.toLocaleTimeString("en-GB", {
                timeZone: "Europe/Belgrade",
                hour: "2-digit",
                minute: "2-digit",
                hour12: true
            });
        }
    }

    getTime();

    setInterval(getTime, 1000);
</script>
