---
import "../styles/global.css";
import Footer from "../layouts/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
    title: string;
    description?: string;
}

const {
    title = "Dušan Osmokrović",
    description = "Software engineer and amatuer writer.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
            rel="stylesheet"
        />
        <slot name="head" />
        <script is:inline>
            if (
                localStorage.theme === "dark" ||
                (!("theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        </script>
    </head>
    <body class="container mx-auto bg-white text-neutral-600 max-w-6xl dark:text-neutral-300 dark:bg-black">

        <Header />

        <main class="">
            <slot />
        </main>

        <Footer />
    </body>
</html>
