---
import Nav from "../components/Nav.astro";
import Footer from "../layouts/Footer.astro";
import "../styles/global.css";
interface Props {
    title: string;
    description?: string;
}

const { title, description = "Software engineer and amatuer writer." } =
    Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="text-neutral-200 bg-neutral-800">
        <!-- Static sidebar -->
        <div class="lg:p-10 lg:fixed">
            <Nav />
        </div>

        <main class="lg:pl-68 p-10">
            <slot />
        </main>

        <Footer />
    </body>
</html>
